// Font Variables
@default-font-size: 0.9em;
@default-font-weight: 300;

@h1-font-size: floor(@default-font-size * 2.5);
@h2-font-size: floor(@default-font-size * 2.0);
@h3-font-size: floor(@default-font-size * 1.75);
@h4-font-size: floor(@default-font-size * 1.30);
@h5-font-size: floor(@default-font-size * 1.1);
@h6-font-size: floor(@default-font-size * 0.7);

@header-margin: 15px;
@header-font-weight: 600;

// Forms!
@input-background: ;
@input-background-nulled: ;

// Color and Design Variables
@body: ;
@font-color: ;
@link-color: ;
@link-hover: ;

// Grid Variables
@grid-gutter: 3%;