// Color and Design Variables
@white: #fff;
@black: #000;

@blue: @02779E;
@bluelt: lighten(@blue, 25%);
@blued: darken(@blue, 25%);

@green: @7FA1B;
@greenlt: lighten(@green, 25%);
@greend: darken(@color, 25%);

@gray: lighten(@black, 15%);

@body: @white;
@font-color: @black;
@link-color: @bluelt;
@link-hover: @greenlt;

// Font Variables
@default-font-size: 0.9em;
@default-font-weight: 300;

@h1-font-size: floor(@default-font-size * 2.5);
@h2-font-size: floor(@default-font-size * 2.0);
@h3-font-size: floor(@default-font-size * 1.75);
@h4-font-size: floor(@default-font-size * 1.30);
@h5-font-size: floor(@default-font-size * 1.1);
@h6-font-size: floor(@default-font-size * 0.7);

@header-margin: 15px;
@header-font-weight: 600;

// Forms!
@input-background: ;
@input-background-nulled: ;

// Grid Variables
@grid-gutter: 3%;