/* 
	Loft - HTML/CSS Boilerplate
	https://github.com/daniel-love/Loft
	License: The MIT License (MIT)
	Version: idk
	Status: Development
*/

@import url('./r.css'); /* Eric Meyers Reset CSS - http://meyerweb.com/eric/tools/css/reset/)

/*
	Body
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	font-size: .9em;
	font-weight: 300;
	line-height: 1.4em;
}

/*
	Grid
*/

.col {
	border:0px solid rgba(0,0,0,0);
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
}

@media screen and (min-width: 0px) {

	.col {
		margin-left:3%;
		padding:0 0px;
	}

	.row .col:first-child {
		margin-left:0;
	}

	.one {
		width:5.58333333333%;
	}

	.two {
		width:14.1666666667%;
	}

	.three {
		width:22.75%;
	}

	.four {
		width:31.3333333333%;
	}

	.five {
		width:39.9166666667%;
	}

	.six {
		width:48.5%;
	}

	.seven {
		width:57.0833333333%;
	}

	.eight {
		width:65.6666666667%;
	}

	.nine {
		width:74.25%;
	}

	.ten {
		width:82.8333333333%;
	}

	.eleven {
		width:91.4166666667%;
	}

	.twelve {
		margin-left:0;
		width:100%;
	}
}

/*
	Type Foundry
*/

/* Headings */

h1 {
	margin-bottom: 15px;
	font-size: 1.9em;
	font-weight: 800;
	line-height: 1.3em;
}

h2 {
	margin-bottom: 15px;
	font-size: 1.6em;
	font-weight: 600;
	line-height: .9em;
}

h3 {
	margin-bottom: 15px;
	font-size: 1.3em;
	font-weight: 600;
	line-height: .7em;
}

h4 {
	margin-bottom: 15px;
	font-size: 1.2em;
	font-weight: 600;
	line-height: .5em;
}

h5 {
	margin-bottom: 15px;
	font-size: 1.3em;
	font-weight: 200;
	line-height: .7em;
}

h6 {
	margin-bottom: 15px;
	font-size: .8em;
	font-weight: 900;
	line-height: .7em;
	text-transform: uppercase;
}

/* Paragraph */

p {
	margin: 5px 0 15px 0;
}

	p.lead {
		font-size: 1.1em;
		font-weight: 200;
		line-height: 1.6em;
	}

/* Blockquote */

blockquote {
	display: block;
	margin: 18px 0 18px 0;
	padding: 18px 10px 18px 10px;
	font-size: 1.5em;
	font-weight: 300;
	font-style: ;
	line-height: 1.5em;
	color: #5B5B5B;
	border-top: solid 1px #E0E0E0;
	border-bottom: solid 1px #E0E0E0;
}

	blockquote p {
		margin: 0;
		font-size: inherit;
		font-weight: inherit;
		font-style: inherit;
		line-height: inherit;
		color: inherit;
	}

/* Misc */

small {
	font-size: 60%;
}

b,
strong,
em {
	font-weight: bolder;
}

i {
	font-style: italic;
}

pre {
	margin: 20px 10px;
	padding: 10px;
	overflow: scroll;
	background: #F0F0F0;
	border: solid 1px #B5B5B5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		    border-radius: 5px;
}

code {
	display: inline-block;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: inherit;
	line-height: 1;
	color: #666666;
}

a {
	font-weight: bolder;
	color: inherit;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

/* 
	Lists
*/ 

ol, ul, dl {
	display: block;
	margin: 5px 0 15px 0;
	width: 100%;
}

ol li > ol,
ul li > ul {
	margin: 7.5px 0px 7.5px 30px;
}

/* Ordered List */

ol li {
	margin: 3.5px 0;
	width: inherit;
	list-style: decimal inside;
}

	ol li > ol li { list-style: lower-alpha inside; }

		ol li > ol li > ol li { list-style: lower-roman inside; }

ol.bold { font-weight: bolder; }
ol.bold li span { font-weight: lighter; }

/* List - Unordered List */

ul li {
	margin: 2px 0;
	width: inherit;
	list-style: disc inside;
}

	ul li > ul li { list-style: circle inside; }

/* List Definition List */

dl dt {
	display: block;
	margin: 5px 0;
	font-weight: bolder;
}

dl dd {
	display: block;
	font-weight: lighter;
}

/*
	Forms
*/

/* I gave up all hope here */

form {
	display: block;
	width: 100%;
	overflow: none;
	box-sizing: border-box;
	vertical-align: middle;
}

input,
input[type="text"],
input[type="password"],
textarea {
	display: block;
	margin: 0 0 .5em 0;
	padding: .5em;
	width: 100%;
	height: 2.1em;
	outline: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-transition: .1s linear;
	   -moz-transition: .1s linear;
	        transition: .1s linear;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #ABABAB;
	background: #ECECEC;
	border: solid 1px transparent;
	border-bottom: solid 1px transparent;
}

input:hover,
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
}

input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-bottom: solid 1px #ABABAB;
}